option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root

container_commands:
  01_install_composer_dependencies:
    command: "sudo php -d memory_limit=-1 /usr/bin/composer.phar install --no-interaction --prefer-dist --optimize-autoloader"
    cwd: "/var/app/staging"

  05_run_migrations:
    command: "php artisan migrate --force"
    cwd: "/var/app/staging"
    leader_only: true

  06_run_bootstrap_command:
     command: "chmod -R 775 storage"
     cwd: "/var/app/staging"

  07_run_bootstrap_command:
     command: "chmod -R 775 bootstrap/cache"
     cwd: "/var/app/staging"
