.app-header.bg-light .navbar-brand {
    color: #73818f;
    font-size: 1.4rem;
    justify-content: left;
    opacity: 1 !important;
    padding: 0 2.25rem;
    width: 250px;
}

table {
    font-size:0.9rem;
}

.nav-item .la-filter {
    display: none !important;
}

.app-body main nav ol {
    display: none !important;
}

.crudTable_wrapper a .btn-group-sm>.btn, .btn-sm {
    border-radius: 0.2rem;
    font-size: 1.2rem;
    line-height: 1.2;
    padding: 1px;
}

/*main .header-operation {*/
/*    max-width: calc(100% - 300px);*/
/*}*/

main .header-operation h1 {
    margin-top:0px
}

.tab-content .tab-pane {
    padding: 2rem !important;
}

#crudTable_wrapper #crudTable td, #crudTable_wrapper #crudTable th, #crudTable_wrapper table.dataTable td, #crudTable_wrapper table.dataTable th {
    max-width: 100px;
    white-space: normal;
    text-align: center;
}

#crudTable_wrapper #crudTable td>span {
    line-height: 16px;
}

.navbar-nav .nav-link {
    color: #414141;
}

.navbar-filters .navbar-nav>.active>a, .navbar-filters .navbar-nav>.active>a:focus, .navbar-filters .navbar-nav>.active>a:hover, .navbar-filters .navbar-nav>.open>a, .navbar-filters .navbar-nav>.open>a:focus, .navbar-filters .navbar-nav>.open>a {
    background-color: #D8002C;
    color:#fff;
    border-radius: 3px;
    white-space: normal;
}

#bp-filters-navbar {
    padding: 20px 30px;
    margin-bottom: 50px;
    box-shadow: 0px 3px 15px rgba(166, 166, 166, 0.15);
}

.navbar-filters li.nav-item {
    margin: 0 15px !important;
}

.navbar-filters li {
    font-size: 14px;
}

.rangeFilterWrapper .dropdown-menu {
    min-width: 250px !important;
}

.select2-container {
    width:100% !important
}


#bp-filters-navbar .nav-item.dropdown.show .dropdown-menu {
    width: 100% !important;
}

.navbar-filters .nav-item.dropdown.divider {
    width: 100%;
    border-bottom: 1px solid #fefefe;
    margin: 15px 0px !important;
}


.sidebar.sidebar-pills .nav-link, .sidebar.sidebar-pills .nav-title {
    font-size: 13px !important;
}


/*Estate create form overrides*/

.apartment_building_attribute label {
    font-size: 12px;
    color: #888 !important;
    margin-top: 16px;
}
